<div class="section">
    <div class="cards-home">
        <mat-card class="card_home">
            <mat-card-title>Home</mat-card-title>
            <img mat-card-image src="../../../../assets/img/home.png" class="img_card_home" >
            <mat-card-footer></mat-card-footer>
        </mat-card>    
    
        <mat-card class="card_home">
            <mat-card-title>Productos</mat-card-title>
            <img mat-card-image src="../../../../assets/img/productos.png" class="img_card_home" >
            <mat-card-footer></mat-card-footer>
        </mat-card> 
    
        <mat-card class="card_home">
            <mat-card-title>Inventario</mat-card-title>
            <img mat-card-image src="../../../../assets/img/inventario.png" class="img_card_home" >
            <mat-card-footer></mat-card-footer>
        </mat-card> 
    
        <mat-card class="card_home">
            <mat-card-title>Registro-Ventas</mat-card-title>
            <img mat-card-image src="../../../../assets/img/carrito.png" class="img_card_home">
            <mat-card-footer></mat-card-footer>
        </mat-card> 
    
        <mat-card class="card_home">
            <mat-card-title>Provedores</mat-card-title>
            <img mat-card-image src="../../../../assets/img/camion.png" class="img_card_home">
            <mat-card-footer></mat-card-footer>
        </mat-card> 
    
        <mat-card class="card_home">
            <mat-card-title>Informe de Ventas</mat-card-title>
            <a href=""><img mat-card-image src="../../../../assets/img/ventas.png" class="img_card_home"></a>
            
            <mat-card-footer></mat-card-footer>
        </mat-card> 
    </div>




</div>