table {
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
  }
  
  #titulo{
    font-size: 50px;
    margin-top: 2%;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  #div_alert{
    color: #8d9998 !important;
    background-color: #ffffcc;   
    padding: 16px; 
    width: 25%;    
  }