<div class="section">
    <div id="titulo">
         <p>Lista de Productos</p>    
    </div> 
    <button mat-raised-button (click)="openDialog()" style="width:15%" >Crear Nuevo Producto</button>    
    
    <div  #alert_div id="div_alert" style="width:15%;" [@hidden]="state"> 
        <span>!ADVERTENCIA</span>
        <ol style="list-style: none;">
            <li *ngFor="let error_alert of alerta">{{error_alert}}</li>            
        </ol>
                      
    </div>
        
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
        <ng-container matColumnDef="id_articulo">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.id_articulo}} </td>
          </ng-container>

        <ng-container matColumnDef="categoria">
          <th mat-header-cell *matHeaderCellDef> Categoria </th>
          <td mat-cell *matCellDef="let element"> {{element.categoria}} </td>
        </ng-container>

        <ng-container matColumnDef="codigo">
            <th mat-header-cell *matHeaderCellDef> Codigo. </th>
            <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
        </ng-container>

        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> Nombre. </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>

        <ng-container matColumnDef="precio_venta">
            <th mat-header-cell *matHeaderCellDef> Precio de Venta </th>
            <td mat-cell *matCellDef="let element"> {{element.precio_venta}} </td>
        </ng-container>

        <ng-container matColumnDef="stock">
            <th mat-header-cell *matHeaderCellDef> Stock </th>
            <td mat-cell *matCellDef="let element"> {{element.stock}} </td>
        </ng-container>

        <ng-container matColumnDef="descripcion">
            <th mat-header-cell *matHeaderCellDef> Descripcion </th>
            <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
        </ng-container>

        <ng-container matColumnDef="imagen">
            <th mat-header-cell *matHeaderCellDef> Imagen. </th>
            <td mat-cell *matCellDef="let element"> {{element.imagen}} </td>
        </ng-container>

        <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef> Estado </th>
            <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
        </ng-container>

        <ng-container matColumnDef="precio_compra">
            <th mat-header-cell *matHeaderCellDef> Precio De Compra </th>
            <td mat-cell *matCellDef="let element"> {{element.precio_compra}} </td>
        </ng-container>
        <ng-container matColumnDef="Eliminar">
            <th mat-header-cell *matHeaderCellDef> Eliminar </th>
            <td mat-cell *matCellDef="let element"> <a [routerLink]="" (click)="delete(element.id_articulo)">Eliminar</a> </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row          
        *matRowDef="let row; columns: displayedColumns;" ></tr>
    </table>



</div>


